@use '../../../../src/styles/base/variables';

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: variables.breakpoint('md')) {
       flex-direction: column;
       margin-bottom: 2rem;
    }
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.4rem;
  height: 4rem;
  color: variables.color(primary-dark);
  border: 1px solid variables.color(line);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.selected {
  color: variables.color(secundary);
  font-weight: variables.$font-weight-bold;
}
