@use '../../../src/styles/base/variables';

.button {
    width: 14.5rem;
    height: 4.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: variables.color(accent);
    color: variables.color(secundary-dark);
    font-size: 1.6rem;
    font-weight: variables.$font-weight-semibold;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.85);
    }
}