@use "../../../src/styles/base/variables";

.brandsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    gap: 2rem;

    h2 {
        color: variables.color(secundary);
    }
}

.brandsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.2rem;
    margin-top: 3rem;
}

.brandsItem {
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    box-shadow: 0px 6px 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    @media (max-width: variables.breakpoint('md')) {
        width: 15rem;
        height: 15rem;

        img {
            width: 75%;
        }
    }
}
