@use '../../styles/base/variables';

.footerCopyrightontainer {
    height: 4.68rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.3rem;
        font-weight: variables.$font-weight-light;
    }
}