@use './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

body {
  font-family: variables.$font-family-base;
  font-weight: variables.$font-weight-regular;
  font-size: variables.$font-size-base;
  background-color: variables.color(whiteBasic);
  color: variables.color(primary);
}

img, svg {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}